
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  overflow-x:hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: #f1f0f0;
    font-family: 'Lato', sans-serif;
    
  overflow-x:hidden;
}

h2 {
  text-transform: uppercase;
  }

p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}
nav {
 background: #f1f0f0;
 position: fixed;
 top: 0;
 right: 0;
 width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  border-bottom: 1px solid #d8dce0;
  z-index: 10;
}


nav .top-icons a svg {
  margin: 0 0 0 20px;
}

nav ul {

  display: flex;
     
}




nav ul li {
       list-style: none;
    
      font-size: 1rem;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      padding: 0 0.8em;
      cursor: pointer;
      transition: all 500ms;
        text-transform: uppercase;
}


nav ul li a {
  display: flex;
  text-decoration: none;
  color: #252e3f;
  transition: 0.5s all;
}


nav ul li a:hover {
  transform: translateY(-5px)
}

main .hero-section{
  height: 100vh ;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding: 6rem 0 7rem 3rem;
  font-family: 'Lato', sans-serif;

}

main .hero-section img {


  border-radius: 50% 30%;
  max-width: 30%;
  
  padding: 0 3rem 0 0;

}

main .hero-section .hero-section-text {
  margin: 0  1em 0 2em;
}

main .hero-section h1{
   font-size: 2rem;
   color:#252e3f;
   line-height: 1.5;

}

main .hero-section h1 span{
       font-size: 4rem;
     color: #BE415D;
     /* padding-bottom: 1rem; */

}

main .hero-section .hero-section-text p{
     font-size: 50px;
     font-weight: 700;
     color:#252e3f;
     text-transform: uppercase;
     padding-top: 1rem;

}

main .hero-section .hero-section-text p:before{

    content: '';
    position: absolute;
  top: 8%;
    left: -5%;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: 20px solid rgba(190, 65, 92, 0.377);
    z-index: -1;
    overflow-x: hidden;

}

main .hero-section .hero-section-text p:after{

    content: '';
    position: absolute;
  bottom: -15%;
    right: 1%;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: 20px solid #252e3f59;
    z-index: -1;
    overflow-x: hidden;


}

main .about-section {
 
  background: #252e3f;
  width: 100%
}

main .about-section .about-section-text{

 padding: 5rem;
}

main .about-section .about-section-text h2 {
     font-size: 3rem;
     text-align: center;
     color: #ffffff;
     padding-bottom: 1rem;
  
}

main .about-section .about-section-text p {
  font-size: 24px;
  color: #f2f5fa;
   margin: 0 auto;
   max-width: 800px;
   text-align: center;
   line-height: 1.6;
} 


main .portfolio-section{

background: #f1f0f0;
padding: 3rem 0 5rem 0;

}


main .portfolio-section h2 {
      font-size: 3rem;
     text-align: center;
  
     color: #252e3f;
     padding: 1.5rem 0 2rem 0;

}
main .portfolio-section .portfolio-section-grid {

  display: flex;
  gap: 30px;
  padding: 0 20px;

 
}

main .portfolio-section .portfolio-section-grid img {
  max-width: 100%;
  padding-bottom: 1rem;
  transition: all 1000ms;
}

main .portfolio-section .portfolio-section-grid img:hover {
  transform: translateY(-5px)
}

main .portfolio-section .portfolio-section-grid a {
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: #252e3f;
    padding-right: 20px; 
}


footer {
  width: 100%;
   background:#252e3f;
}

footer h2 {

  font-size: 40px;
  color: #ffffff;
  text-align: center;
  padding: 3rem
}

footer .icons {
    margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

footer .icons svg {
  margin-left: 20px;
   margin-right: 20px;
  
}

footer p {
   color: #ffffff;
  text-align: center;
  padding-bottom: 1rem;
}

footer p a {
  text-decoration: underline;
  color: #ffffff;

} 




@media screen and (max-width:890px) {
  
p {
  font-size: 1.2rem;
}

nav {

 position: fixed;
 top: 0;
 right: 0;
 width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 3em;
}


nav ul {

  display: flex;
  
 
   
}




nav ul li {
       list-style: none;
    
      font-size: 1rem;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      padding: 0 0.8em;
      cursor: pointer;
      transition: all 500ms;
        text-transform: uppercase;
}



nav ul li a {
    display: flex;
  text-decoration: none;
  color: #252e3f;


}


main .hero-section{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding: 30rem 0 30rem 3rem;
  font-family: 'Lato', sans-serif;
  height:100vh ;

}

main .hero-section img {
  border-radius: 50% 30%;
  width: 60%;
  padding: 0 3rem 0 0;

}

main .hero-section .hero-section-text {
  margin: 2em  0 2em 0;
}

main .hero-section h1{
 
  text-align: center;
   font-size: 4rem;
      color:#252e3f;



}

main .hero-section h1 span{
 
     color: #BE415D;

}

main .hero-section .hero-section-text p{
  text-align: center;
     font-size: 36px;
     font-weight: 700;
     color:#252e3f;
     text-transform: uppercase;
      padding-bottom: 2rem;

}

main .about-section {
  background: #252e3f;
  width: 100%
}

main .about-section .about-section-text{

 padding: 5rem;
}

main .about-section .about-section-text h2 {
     font-size: 3rem;
     text-align: center;
     color: #ffffff;
     padding-bottom: 1rem;
  
}

main .about-section .about-section-text p {
  font-size: 24px;
  color: #f2f5fa;
   margin: 0 auto;
   max-width: 800px;
   line-height: 1.6;
} 


main .portfolio-section{

padding: 3rem 0 5rem 0;

}


main .portfolio-section h2 {
      font-size: 3rem;

     color: #252e3f;
     padding: 2rem 0 1.5rem  0;

}
main .portfolio-section .portfolio-section-grid {

  display: flex;
  gap: 30px;
  padding: 0 20px;

 
}

main .portfolio-section .portfolio-section-grid img {
  max-width: 100%;
  padding-bottom: 1rem;
  transition: all 1000ms;
}

main .portfolio-section .portfolio-section-grid img:hover {
  transform: translateY(-5px)
}

main .portfolio-section .portfolio-section-grid a {
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: #252e3f;

}


footer {
  width: 100%;
   background:#252e3f;
}

footer h2 {

  font-size: 40px;
  color: #ffffff;
  text-align: center;
  padding: 3rem
}

footer .icons {
    margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

footer .icons svg {
  margin-left: 20px;
   margin-right: 20px;
  
}

footer p {
   color: #ffffff;
  text-align: center;
}

footer p a {
  text-decoration: underline;
  color: #ffffff;

} 


}


@media screen and (max-width:768px){


main .hero-section img {
     min-width: 50%;
    padding: 0px 0rem 0 0;

}

main .hero-section .hero-section-text p:after{

    content: '';
    position: absolute;
  bottom: -3%;
    right: 1%;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: 20px solid #252e3f59;
    z-index: -1;
    overflow-x: hidden;


}


/* footer {
  margin-bottom: 17rem;
} */

}



@media screen  and (max-width:685px){

   nav {

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 3em;
    flex-direction: column;
  }

  
main .hero-section{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding: 25rem 0 25rem 3rem;
  font-family: 'Lato', sans-serif;
  height:100vh ;

}
  
  main .hero-section h1{
   font-size: 2.5rem;
      color:#252e3f;

}

  
main .about-section .about-section-text {
    padding: 2rem;

}


main .about-section .about-section-text p {
    font-size: 18px;
    color: #f2f5fa;
    margin: 0 auto;
    /* max-width: 800px; */
    line-height: 1.6;
}


}


@media screen  and (max-width:530px) {

    main .hero-section h1{
   font-size: 2.5rem;
      color:#252e3f

}



main .portfolio-section .portfolio-section-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
}


}


@media screen and (max-width:414px){

nav {

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 3em;
    flex-direction: column;
  }

  nav ul li {
    list-style: none;
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 0 0.8em;
    cursor: pointer;
    transition: all 500ms;
    text-transform: uppercase;


  }
main .hero-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
     padding: 20rem 0 20rem 0rem;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}



main .hero-section img {
     min-width: 50%;
    padding: 0px 0rem 0 0;

}

main .about-section .about-section-text h2 {
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    padding-bottom: 1rem;

}

  main .hero-section .hero-section-text p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #252e3f;
    text-transform: uppercase;
    padding-bottom: 2rem;
  }

main .hero-section .hero-section-text p:after{

    content: '';
    position: absolute;
    bottom: -7%;
    right: 1%;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: 20px solid #252e3f59;
    z-index: -1;
    overflow-x: hidden;


}

  
main .about-section .about-section-text {
    padding: 5.5rem 2rem 4rem 2rem

}





main .about-section .about-section-text p {
    font-size: 18px;
    color: #f2f5fa;
    margin: 0 auto;
    /* max-width: 800px; */
    line-height: 1.6;

}

main .portfolio-section h2 {
    font-size: 2rem;
    text-align: center;

    color: #252e3f;
    padding: 1.5rem 0;

}

main .portfolio-section .portfolio-section-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
}
  

}


@media screen and (max-width:375px){

  nav {
  
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 3em;
    flex-direction: column;
  }

  nav ul li {
    list-style: none;
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 0 0.8em;
    cursor: pointer;
    transition: all 500ms;
    text-transform: uppercase;


  }
main .hero-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
     padding: 20rem 0 20rem 0rem;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}



main .hero-section img {
     min-width: 50%;
    padding: 0px 0rem 0 0;

}

main .about-section .about-section-text h2 {
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    padding-bottom: 1rem;

}

  main .hero-section .hero-section-text p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #252e3f;
    text-transform: uppercase;
    padding-bottom: 2rem;
  }

main .hero-section .hero-section-text p:after{

    content: '';
    position: absolute;
  bottom: -7%;
    right: 1%;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: 20px solid #252e3f59;
    z-index: -1;
    overflow-x: hidden;


}

  
main .about-section .about-section-text {
    padding: 4.5rem 2rem 4rem 2rem

}





main .about-section .about-section-text p {
    font-size: 18px;
    color: #f2f5fa;
    margin: 0 auto;
    /* max-width: 800px; */
    line-height: 1.6;

}

main .portfolio-section h2 {
    font-size: 2rem;
    text-align: center;
 
    color: #252e3f;
    padding: 1.5rem 0;

}

main .portfolio-section .portfolio-section-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
}
  
}





@media screen and (max-width:360px){

  nav {
  
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em 3em;
    flex-direction: column;
  }

  nav ul li {
    list-style: none;
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 0 0.8em;
    cursor: pointer;
    transition: all 500ms;
    text-transform: uppercase;


  }
main .hero-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
     padding: 20rem 0 20rem 0rem;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}



main .hero-section img {
     min-width: 60%;
    padding: 0px 0rem 0 0;

}

  main .hero-section .hero-section-text p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #252e3f;
    text-transform: uppercase;
    padding-bottom: 2rem;
  }

main .hero-section .hero-section-text p:after{

    content: '';
    position: absolute;
  bottom: -15%;
    right: 1%;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: 20px solid #252e3f59;
    z-index: -1;
    overflow-x: hidden;


}


  
main .about-section .about-section-text {
    padding: 2rem;

}



main .about-section .about-section-text h2 {
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    padding-top: 2.5rem;
    padding-bottom: 1rem;

}


main .about-section .about-section-text p {
    font-size: 18px;
    color: #f2f5fa;
    margin: 0 auto;
    /* max-width: 800px; */
    line-height: 1.6;

}

main .portfolio-section h2 {
    font-size: 2rem;
    text-align: center;
  
    color: #252e3f;
    padding: 1.5rem 0;

}

main .portfolio-section .portfolio-section-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
}
  
}
